@font-face {
    font-family: 'GT Pressura Regular Italic';
    src: 	url('/web/20200621071253im_/http://www.inter-val.org/fonts/GT-Pressura-Regular-Italic-Web/GT-Pressura-Regular-Italic.eot') format('eot'), 
    			url('/web/20200621071253im_/http://www.inter-val.org/fonts/GT-Pressura-Regular-Italic-Web/GT-Pressura-Regular-Italic.woff') format('woff'), 
					url('/web/20200621071253im_/http://www.inter-val.org/fonts/GT-Pressura-Regular-Italic-Web/GT-Pressura-Regular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
     FILE ARCHIVED ON 07:12:53 Jun 21, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:11:31 Nov 23, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 18.152 (3)
  exclusion.robots: 0.126
  captures_list: 532.605
  load_resource: 71.982
  RedisCDXSource: 20.56
  PetaboxLoader3.resolve: 179.304 (2)
  esindex: 0.012
  PetaboxLoader3.datanode: 353.621 (4)
  exclusion.robots.policy: 0.117
  LoadShardBlock: 490.556 (3)
*/