/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.35em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:active, a:link, a:hover {
	text-decoration:none; color:#363636; 
}

/* //////////////////////////////////////////////////////////////// */

body { 
	font-family: 'GT Pressura Regular'; color:#363636; 
}
em 	{ 
	font-family: 'GT Pressura Regular Italic'; 
}

.short-text p { 
	font-size: 1em; 
	line-height:1em; 
	margin-top:0.8em; 
}

.long-text p { 
	font-size: 1.2em;
    line-height: 1.2em;
/*    margin-top: 0.75em;*/
    color: white;
    /*background-color: rgba(0, 0, 0, 0.09);*/
    padding: 20px;
    z-index: 500px;
 
}

.long-text a {
	color: white;
	text-decoration: none;
}

.long-text a:hover {
	cursor: cell;

}

.short-text p:first-of-type { 
	margin-top:0; 
}

.long-text p:first-of-type{ 
	margin-top:0; 
}

p.small{ 
	font-size:2em; 
	text-align:right; 
}

.caption-text a:hover{ 
	border-bottom:2px solid #363636; 
}

.closed-caption{ 
	color:yellow; 
	font-size:1.2em; 
	z-index: 512340;
}

.closed-caption.outline{ 
	color:black; 
	-webkit-text-stroke: 4px black; 
	z-index: 512340;
}

.border-bottom { 
	border-bottom:2px solid white;
	padding-bottom: 4px 
}

.wrapper{ 
	width:100%; 
	height:100vh; 
	background-image:url(https://xavierconnelly.github.io/inter-val/images/background_02.jpg); 
	background-repeat:none; 
	background-size:cover; 
	background-position:center;  
}

header { 
	color:white; 
	position:absolute; 
	padding:36px; 
	width:100%; 
}

header .logo img {	
	width:110px; 
}

header nav { 
	position:absolute;	
	right:36px; top:36px 
}
header nav a { 
	color:white; 
	margin-left:12px;
}

header nav a, header nav a:active, header nav a:link, header nav a:hover { 
	text-decoration:none; 
	color:white; 
}

.flex-container {
	width:100%;
	height:100%;
	display: -webkit-box; 	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  	/* TWEENER - IE 10 */
	display: -webkit-flex; 	/* NEW - Chrome */
    display: -flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
	justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
	align-items: center;
}

.video-box { 
	position:relative;
	width:1280px; 
	height:720px; 
	margin-top:48px; 
}



.video-box .closed-caption{ 
	position:absolute; 
	left:0; 
	right:0; 
	bottom: 36px; 
	text-align:center; 
}

.caption-box { 
	position:absolute; 
	top:0px; 
	left:0px; 
	bottom:0px; 
	right:0px; 
	padding: 50px 50px 128px; 
}

.caption{	
	width:100%; 
	height:100%; 
	padding: 0 72px;  
	position: relative;
}

.caption-text {
	/*background-color:white; */
	padding:8px; 
}

.caption-flex {
	display: -webkit-box; 	
	display: -moz-box;    	
	display: -ms-flexbox;  	
	display: -webkit-flex; 	
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
	justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
	align-items: center;
	z-index: 50505;
}

.hidden {
	display:none;
}

footer { 
	padding:36px; 
}

footer nav a { 
	color:#363636; 
	margin-right:12px;
}

.subscribe .caption-text { 
	width:100%; 
}

input {
    font-size: 1em;
    border: 1px solid white;
    padding: 10px;
    background: rgba(255,255,255,0);
    margin: 0px -232px 10px 230px;
    width: 30%;
    float: left;
    left: 10px;
    color: white;
}

input[type=submit] { 
	width: 110px;
    height: 43px;
    /*background-color: lightgray;*/
    color: white;
}

input[type=submit]:hover {
	cursor: cell;
}

.email {
	color: white;
}

/* POSTERS */

.poster {
    width: auto;
    height: 320px;	margin: 20px;
	display: inline-block;
	z-index: 2;
	-webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
    -ms-transition: all .75s ease-in-out;
}

.postertext {
    font-size: .9em;
    line-height: 1.5em;
    z-index: 5005;
}

.postertext a {
	text-decoration: none;
}

.postertext a:hover {
	text-decoration: underline;
}

img.inline {
    height: 1.5em;
    margin-bottom: -0.2em;
    cursor: cell;
    z-index: 666;
}

.site-popover {
    margin-top: 120px;
}


.popover {
    display: none;
    position: fixed;
    pointer-events: none;
    width: 50px;
    max-width: 300px;
}

.popover img {
	width: 400px;
}



.projects {
	height: 100%;
	text-align: left;
	  position: relative;
	    color: white;
    font-size: 1.4em;
    line-height: 1.6em;
}


.project-text{
	width: 100%;
}

#placeholder1 {
	height:200px;
	margin:20px;
	background-color: blue;
}

#placeholder2 {
	height:200px;
	margin:20px;
	background-color: red;
}

.transition {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    z-index: 100;
}

.form-container {
	width: 100%;
	text-align: center;
}

/* POSTERS */


@media only screen and (max-width: 1280px) {
	header .logo img {
		width:110px; 
	}
	.caption {	
		width:100%; 
		height:100%; 
		padding:0;  
		position: relative;
	}

	.video-box	{ 
		position:relative; 
		width:960px; 
		height:540px; 
		margin-top:88px; 
		margin-bottom:24px; 
	}

	.videoimg {
		width:960px; 
		height:540px; 
	}

	.short-text p { 
		font-size: 1em; 
		line-height:1em; 
		margin-top:0.8em; 
	}
	.long-text p { 
		font-size: 1em;
	    line-height: 1.2em;
	    margin-top: 0.75em;
	    color: white;
	    padding: 20px;
	    z-index: 6050;
	}
}



@media only screen and (max-width: 1100px) {
	header .logo img 	{
		width:110px; 
	}
	.caption {
		width:100%; 
		height:100%; 
		padding:0;  
		position: relative;
	}
	.caption-box { 
		padding: 48px 48px 36px;  
	}

	.video-box{ 
		position:relative; 
		width:640px; 
		height:360px; 
		margin-top:88px; 
		margin-bottom:24px; 
	}
	
	.videoimg {
		width:680px; 
		height:400px; 
	}

	.short-text p{ 
		font-size: 1em;
	    line-height:1.1em; 
	    margin-top:0.8em; 
	}
	.long-text p { 
		font-size: 1em; 
		line-height:1em; 
		margin-top:0.75em;
		z-index: 500px;
	}
}

/* ================ MOBILE =============== */

@media only screen and (max-width: 650px) {

	.videoimg {
			width:580px; 
			height:300px; 
			display: none;
		}

	.caption-box { 
			padding: 48px 48px 36px;  
		}

	.video-box{ 
		position:relative; 
		width:640px; 
		height:360px; 
		margin-top:88px; 
		margin-bottom:24px; 
	}

	.closed-caption {
		display: none;
	}

	.postertext{
		font-size: .9em;
	}

	.caption {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-bottom: 75px;
	}	

	.caption-box {
    position: relative;
    top: -80px;
    left: 0px;
    bottom: 0px;
    right: 0px;
	}

	input[type=submit] {
	    width: 120px;
	    height: 41px;
	    left: -160px;
	    top: 70px;
	    background: rgba(2, 2, 2, 0);
	    position: absolute;
	     border: 1px solid white; 
	}

	input {
    font-size: 1em;
     border: 1px solid white; 
    padding: 10px;
    background: rgba(255,255,255,0);
     margin: 0px -232px 10px 230px; 
    width: 220px;
    float: left;
    left: -210px;
    position: absolute;
}

}


/*

@media only screen and (max-width: 768px) {
	
	input { 
		font-size:1em; 
	}

	header { 
		padding:24px;
	}

	header .logo img {	
		width:110px; 
	}

	header nav { 
		position:relative; 
		left:0; 
		right:0; 
		top:0; 
		bottom:0; 
		margin-top:-24px;
	}
	header nav a { 
		margin-left:0px; 
		font-size:0.8em; 
		margin-right:9px;
	}

	footer p { 
		font-size:0.8em 
	}

	.caption {	
		width:100%; 
		height:100%; 
		padding:0;
	}

	.long-text .caption-text{ 
		margin-top:96px; 
	}

	.caption-box{ 
		padding: 12px 12px 24px;
	}

	.video-box	{ 
		position:relative; 
		width:280px; 
		height:158px; 
		margin-top:0px; 
		margin-bottom:0px;
	}

	.videoimg {
		width:280px;
		height:158px; 
	}

	.short-text p { 
		font-size: 1em; 
		line-height:1.1em; 
		margin-top:0.8em; 
	}

	.long-text p { 
		font-size: 0.85em; 
		line-height:1.2em; 
		margin-top:0.75em; 
		z-index: 500px;
	}

	.closed-caption{ 
		color:yellow; 
		font-size:1em; 
	}

	.closed-caption.outline { 
		color:black; -webkit-text-stroke: 
		2px black;
	}

	.video-box .closed-caption{ 
		position:absolute; 
		left:0; 
		right:0; 
		bottom: 12px; 
	}
}



*/
/*
     FILE ARCHIVED ON 07:12:54 Jun 21, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:11:30 Nov 23, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 21.865 (3)
  captures_list: 143.978
  RedisCDXSource: 0.854
  esindex: 0.012
  exclusion.robots: 0.205
  LoadShardBlock: 116.519 (3)
  PetaboxLoader3.datanode: 106.75 (4)
  PetaboxLoader3.resolve: 72.327 (2)
  exclusion.robots.policy: 0.189
  load_resource: 156.486
*/
