@font-face {
    font-family: 'GT Pressura Regular';
    src: 	url('fonts/GT-Pressura-Regular.eot') format('eot'), 
    		url('fonts/GT-Pressura-Regular.woff') format('woff'), 
		url('fonts/GT-Pressura-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
